.DS_Store

hw1/.DS_Store
hw1/node_modules

hw2/.DS_Store
hw2/node_modules

hw3/.DS_Store
hw3/node_modules

hw4/.DS_Store
hw4/node_modules

hw5/.DS_Store
hw5/node_modules

hw6/.DS_Store
hw6/node_modules